{% extends 'app_base.html' %}
{% load static %}
{% block title %}CCA Bank - List Account {% endblock %}
{% block content %}
    <h1 class="text-center">List of Accounts</h1>
    {% if accounts %}
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Type Id</th>
            <th>Type Name</th>
            <th>Rate Of Interest</th>
            <th>Year Launched</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{account.id}}</td>
            <td>{{account.type_name}}</td>
            <td>{{account.rate_of_interest}}</td>
            <td>{{account.year_launched}}</td>
            <td>
                {% if user_role == "ROLE_ADMIN" %}
                <a class="btn btn-info" href="{% url 'bupdateaccount' id=account.id %}">Update</a>
                <a class="btn btn-danger" href={% url 'bdeleteaccount' id=account.id %}>Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No Accounts Available</p>
{% endif %}
{% endblock %}